<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @wine.name %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag(@wine.photo_url, width: '100%') %>
    </div>
    <div class="col-sm-12 col-md-6">
      <p>Some awesome description of our amazing wine.</p>
      <p>Prix: <%= humanized_money_with_symbol(@wine.price) %></p>
    </div>
  </div>
  <%= form_tag orders_path do %>
    <%= hidden_field_tag 'wine_id', @wine.id %>
    <%= submit_tag 'Commander', class: 'btn btn-primary' %>
  <% end %>
</div>
